body{
  /*background: linear-gradient(164deg, rgba(9,135,192,1) 0%, rgb(13, 51, 136) 15%, rgba(5,35,103,1) 34%, rgba(4,11,82,1) 67%, rgba(0,3,36,1) 100%);*/
  background: linear-gradient(315deg, rgb(16, 18, 44) 0%, rgb(2, 11, 31) 100%);
  min-height: 100vh;
}
.app{
  font-family: Arial;
}
.routes{
  /*width: 1180px;*/
  /*padding-left: 10px;*/
  /*background-color: #f8fdff;*/
  /*margin: auto;*/
  margin-top: 60px;
  /*padding-top: 10px;*/
  /*border-radius: 12px;*/
  /*min-height: 100vh;*/
}

.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  /*left: 0;*/
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Выравниваем по вертикали */
  background-color: #14172f;
  border-radius: 10px;
  /*!*margin-left: 5%;*!*/
}
.namexz{
  color: #67b3f1;
  font-size: 25px;
  font-weight: bold;
  font-family: "Comic Sans MS";
}
nav a {
  text-decoration: none;
  margin-left: 15px; /* Отступы между ссылками */
  color: #ffefef;
  font-weight: bold;
}
nav a:hover {
  color: #7bbaff; /* Меняем цвет ссылок при наведении */
}
/*#root{*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/


